add_library(tgt_lib_{{ libname }} SHARED)

set_property(TARGET tgt_lib_{{ libname }} PROPERTY C_VISIBILITY_PRESET hidden)
set_property(TARGET tgt_lib_{{ libname }} PROPERTY OUTPUT_NAME {{ libname }})
set_property(TARGET tgt_lib_{{ libname }} PROPERTY VISIBILITY_INLINES_HIDDEN YES)

generate_export_header(
    tgt_lib_{{ libname }}
    BASE_NAME {{ libname }}
    EXPORT_FILE_NAME ${CMAKE_BINARY_DIR}/include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}export.h
)

target_compile_definitions(
    tgt_lib_{{ libname }}
    PRIVATE
        $<$<CONFIG:Debug>:DEBUG>
)

target_compile_features(
    tgt_lib_{{ libname }}
    PRIVATE
        {{ c_std }}
)

target_compile_options(
    tgt_lib_{{ libname }}
    PRIVATE
        -Wall
        -Wextra
        -pedantic
        -fPIC
        $<$<CONFIG:Debug>:-g>
        $<$<CONFIG:Debug>:-O0>
        $<$<CONFIG:Debug>:-fsanitize=address>
        $<$<CONFIG:Release>:-Werror>
)

target_include_directories(
    tgt_lib_{{ libname }}
    PRIVATE
        ../include
)

target_link_options(
    tgt_lib_{{ libname }}
    PRIVATE
        $<$<CONFIG:Debug>:-fsanitize=address>
)

target_sources(
    tgt_lib_{{ libname }}
    PRIVATE
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}division.c
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}multiplication.c
    PUBLIC
        FILE_SET fset_lib_{{ libname }}_headers
            TYPE HEADERS
            BASE_DIRS
                ../include
                ${CMAKE_BINARY_DIR}/include  # contains cmake-generated file
            FILES
                ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}division.h
                ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}multiplication.h
                ${CMAKE_BINARY_DIR}/include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}export.h  # cmake-generated file
)

install(TARGETS tgt_lib_{{ libname }}
    LIBRARY
    FILE_SET fset_lib_{{ libname }}_headers
)
