cmake_minimum_required(VERSION 3.23...3.28 FATAL_ERROR)

project({{projectname}} LANGUAGES C)

{% if add_assets -%}
include(GNUInstallDirs)
{% endif -%}

option({{ exename | upper }}_WITH_ASAN "Whether to enable address sanitizing for executable '{{ exename }}'" OFF)

set(CMAKE_BUILD_WITH_INSTALL_RPATH ON)

if (APPLE)
    list(APPEND CMAKE_INSTALL_RPATH @loader_path/../lib)
elseif(UNIX)
    list(APPEND CMAKE_INSTALL_RPATH $ORIGIN/../lib)
endif()

{% if add_assets -%}
add_subdirectory(assets)
{% endif -%}
add_subdirectory(src/{{ exename }})
