#ifndef {% if prepend_filenames %}{{ (libname + '_') | upper }}{% endif %}ADDITION_H
#define {% if prepend_filenames %}{{ (libname + '_') | upper }}{% endif %}ADDITION_H

int {% if prepend_symbols %}{{ libname + '_' }}{% endif %}add (int, int);

#endif
