#ifndef {% if prepend_symbols %}{{ (libname + '_') | upper }}{% endif %}MULTIPLICATION_H
#define {% if prepend_symbols %}{{ (libname + '_') | upper }}{% endif %}MULTIPLICATION_H

int {% if prepend_symbols %}{{ libname + '_' }}{% endif %}multiply (int, int);

#endif
