#ifndef {% if prepend_symbols %}{{ (libname + '_') | upper }}{% endif %}DIVISION_H
#define {% if prepend_symbols %}{{ (libname + '_') | upper }}{% endif %}DIVISION_H

int {% if prepend_symbols %}{{ libname + '_' }}{% endif %}divide (int, int);

#endif
