cmake_minimum_required(VERSION 3.23...3.28 FATAL_ERROR)

project({{projectname}} LANGUAGES C)

option({{ libname | upper }}_WITH_ASAN "Whether to enable address sanitizing for library 'lib{{ libname }}.so'" OFF)

{% if add_test -%}
include(CTest)
{%- endif %}
include(GenerateExportHeader)
include(GNUInstallDirs)

set(CMAKE_BUILD_WITH_INSTALL_RPATH ON)

if (APPLE)
    list(APPEND CMAKE_INSTALL_RPATH @loader_path/../lib)
elseif(UNIX)
    list(APPEND CMAKE_INSTALL_RPATH $ORIGIN/../lib)
endif()

{% if add_test -%}
if (CMAKE_PROJECT_NAME)
    # I'm the top-most project, set {{ libname | upper }}_BUILD_TESTING like BUILD_TESTING by default
    option({{ libname | upper }}_BUILD_TESTING "Whether to build the lib{{ libname }} tests" ${BUILD_TESTING})
else()
    # I'm not the top-most project, set {{ libname | upper }}_BUILD_TESTING default OFF
    option({{ libname | upper }}_BUILD_TESTING "Whether to build the lib{{ libname }} tests" OFF)
endif()
{%- endif %}

{% if add_assets -%}
add_subdirectory(assets)
{% endif -%}
add_subdirectory({{ external_directory }}/their)
add_subdirectory(src)
{% if add_test -%}
if ({{ libname | upper }}_BUILD_TESTING)
    add_subdirectory(test)
endif()
{%- endif %}
