add_library(tgt_lib_{{ libname }} SHARED)

set_property(TARGET tgt_lib_{{ libname }} PROPERTY OUTPUT_NAME {{ libname }})

target_compile_definitions(
    tgt_lib_{{ libname }}
    PRIVATE
        $<$<CONFIG:Debug>:DEBUG>
)

target_compile_features(
    tgt_lib_{{ libname }}
    PRIVATE
        {{ c_std }}
)

target_compile_options(
    tgt_lib_{{ libname }}
    PRIVATE
        -Wall
        -Wextra
        -pedantic
        -fPIC
        $<$<CONFIG:Debug>:-g>
        $<$<CONFIG:Debug>:-O0>
        $<$<CONFIG:Debug>:-fsanitize=address>
        $<$<CONFIG:Release>:-Werror>
)

target_include_directories(
    tgt_lib_{{ libname }}
    PRIVATE
        ../include
        ../{{ external_directory }}/their/include
)

target_link_libraries(
    tgt_lib_{{ libname }}
    PRIVATE
        tgt_lib_their
)

target_link_options(
    tgt_lib_{{ libname }}
    PRIVATE
        $<$<CONFIG:Debug>:-fsanitize=address>
)

target_sources(
    tgt_lib_{{ libname }}
    PRIVATE
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}addition.c
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}division.c
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}multiplication.c
        {% if prepend_filenames %}{{ libname + '_' }}{% endif %}subtraction.c
    PUBLIC
        FILE_SET fset_lib_{{ libname }}_headers
        TYPE HEADERS
        BASE_DIRS
            ../include
        FILES
            ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}addition.h
            ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}division.h
            ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}multiplication.h
            ../include/{% if prepend_filenames %}{{ libname + '_' }}{% endif %}subtraction.h
)

install(TARGETS tgt_lib_{{ libname }}
    LIBRARY
    FILE_SET fset_lib_{{ libname }}_headers
)
