#include <criterion/criterion.h>
#include "{%- if prepend_symbols -%}{{ libname + '_' }}{%- endif -%}multiplication.h"

Test({%- if prepend_symbols -%}{{ libname + '_' }}{%- endif -%}multiplication, one){
    int actual = {%- if prepend_symbols -%}{{ libname + '_' }}{%- endif -%}multiply(2, 3);
    int expected = 6;
    cr_assert(actual == expected);
}

Test({%- if prepend_symbols -%}{{ libname + '_' }}{%- endif -%}multiplication, two){
    int actual = {%- if prepend_symbols -%}{{ libname + '_' }}{%- endif -%}multiply(2, -3);
    int expected = -6;
    cr_assert(actual == expected);
}
