cmake_minimum_required(VERSION 3.23...3.28 FATAL_ERROR)

project({{projectname}} LANGUAGES C)

include(GNUInstallDirs)

set(CMAKE_BUILD_WITH_INSTALL_RPATH ON)

if (APPLE)
    list(APPEND CMAKE_INSTALL_RPATH @loader_path/../lib)
elseif(UNIX)
    list(APPEND CMAKE_INSTALL_RPATH $ORIGIN/../lib)
endif()

if (NOT CMAKE_BUILD_TYPE)
    set(CMAKE_BUILD_TYPE Debug)
endif()

if(CMAKE_INSTALL_PREFIX_INITIALIZED_TO_DEFAULT)
    set_property(CACHE CMAKE_INSTALL_PREFIX PROPERTY VALUE "${CMAKE_BINARY_DIR}/dist")
endif()

{% if add_assets -%}
add_subdirectory(assets)
{% endif -%}
add_subdirectory({{ external_directory }}/their)
add_subdirectory(src)
{% if add_test -%}
include(CTest)  # defines BUILD_TESTING
if (CMAKE_PROJECT_NAME STREQUAL PROJECT_NAME)
    # I'm the top-most project
    option({{ libname | upper }}_BUILD_TESTING "Whether to build the lib{{ libname }} tests" ${BUILD_TESTING})
    if ((BUILD_TESTING AND NOT {{ libname | upper }}_BUILD_TESTING) OR
        (NOT BUILD_TESTING AND {{ libname | upper }}_BUILD_TESTING))
        message(WARNING, " will use more specific -D{{ libname | upper }}_BUILD_TESTING={{ "${" }}{{ libname | upper }}_BUILD_TESTING{{ "}" }} over -DBUILD_TESTING={{ "${" }}BUILD_TESTING{{ "}" }}")
    endif()
else()
    # I'm not the top-most project, use {{ libname | upper }}_BUILD_TESTING as-is
    option({{ libname | upper }}_BUILD_TESTING "Whether to build the lib{{ libname }} tests" OFF)
endif()
if ({{ libname | upper }}_BUILD_TESTING)
    add_subdirectory(test)
endif()
{%- endif %}
