add_executable(tgt_exe_test_{{ libname }})

set_property(TARGET tgt_exe_test_{{ libname }} PROPERTY OUTPUT_NAME test_{{ libname }})

target_compile_definitions(
    tgt_exe_test_{{ libname }}
    PRIVATE
        $<$<CONFIG:Debug>:DEBUG>
)

target_compile_features(
    tgt_exe_test_{{ libname }}
    PRIVATE
        {{ c_std }}
)

target_compile_options(
    tgt_exe_test_{{ libname }}
    PRIVATE
        -Wall
        -Wextra
        -pedantic
        -fPIE
        $<$<CONFIG:Debug>:-g>
        $<$<CONFIG:Debug>:-O0>
        $<$<CONFIG:Debug>:-fsanitize=address>
        $<$<CONFIG:Release>:-Werror>
)

target_include_directories(
    tgt_exe_test_{{ libname }}
    PRIVATE
        ../include
)

target_link_libraries(
    tgt_exe_test_{{ libname }}
    PRIVATE
        criterion
        tgt_lib_{{ libname }}
)

target_link_options(
    tgt_exe_test_{{ libname }}
    PRIVATE
        -pie
        $<$<CONFIG:Debug>:-fsanitize=address>
)

target_sources(
    tgt_exe_test_{{ libname }}
    PRIVATE
        test_{% if prepend_filenames %}{{ libname + '_' }}{% endif %}addition.c
        test_{% if prepend_filenames %}{{ libname + '_' }}{% endif %}division.c
        test_{% if prepend_filenames %}{{ libname + '_' }}{% endif %}multiplication.c
        test_{% if prepend_filenames %}{{ libname + '_' }}{% endif %}subtraction.c
)

add_test(
    NAME
        test_{{ libname }}
    COMMAND
        ${CMAKE_INSTALL_BINDIR}/test_{{libname}}
)

install(TARGETS tgt_exe_test_{{ libname }})
